@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo a {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Rock Salt', sans-serif;
    color: #2F9BFF;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
}

.icon-row ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    align-items: center;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.icon-row {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #D8DBE1;
    padding: 0;
}

.icon-row li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
}

.icon-row img {
    display: block;
    margin: 0;
    max-width: 60px;
    height: auto;
}

.icon-row span {
    color: #333;
    display: block;
    text-align: center;
    font-family: 'noto sans display', sans-serif;
}

nav a.active {
    text-decoration: underline;
    text-decoration-color: #2F9BFF;

}

a,button {
    font-size: 20px;
    font-weight: 500;
    font-family: 'noto sans display', sans-serif;
    color: #171A21;
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: #2F9BFF;
    border: 2px solid #2F9BFF;
    border-radius: 50px;
    padding: 9px 25px;
    margin: 10px;
}

nav li a:hover {
    color: #2F9BFF;
    transition: all 0.4s ease 0s;
}

button:hover {
    transition: all 0.4s ease 0s;
    border: 2px solid #2F9BFF;
    transform: scale(1.1);
}

.logo a:hover {
    transition: all 0.4s ease 0s;
    color: #171A21;
}

.social img {
    width: 100%;
    height: auto;
    padding: 5px;
    max-width: 70px;
}

.social img:hover {
    transition: all 0.4s ease 0s;
    transform: scale(1.1);
}

.hero-image,
.hero-image1 {
    height: 75vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-img,
#hero-img1 {
    width: 100%;
    height: 660px;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
}

.hero-text h1 {
    font-family: 'roboto';
    font-size: 5em;
    margin-bottom: 20px;
}

.hero-text p {
    font-family: 'noto sans display', sans-serif;
    font-size: 2em;
    margin-bottom: 50px;
}

.scoots-intro {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.scoots-intro p {
    font-size: 20px;
    margin-bottom: 16px;
}

.home-grid {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-column: 2 / 3;
    background-color: #FFFFFF;
}

.home-grid h2 {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 3em;
    color: #171A21;
    padding: 20px 20px;
}

#rentalOptions {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    margin-bottom: 20px;
    text-align: center;
    font-family: 'noto sans display', sans-serif;
}

#rentalOptions h3 {
    color: #171A21;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 3px 3px 0;
    font-size: 1.5em;
    text-align: center;
    font-family: 'noto sans display', sans-serif;
}

#rentalOptions p {
    color: #171A21;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3px 3px 0;
    font-size: 1.2em;
    text-align: center;
    font-family: 'noto sans display', sans-serif;
}

.vehicle-card {
    margin: 20px;
}

.vehicle-card img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
}

.info-card {
    font-family: 'noto sans display', sans-serif;
    background-color: #292F38;
    padding: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;
}

.info-card h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.info-card p {
    font-size: 1.1em;
    margin: 0px;
}

.info-card img {
    max-width: 100%;
    height: auto;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: #292F38;
    padding-left: 30px;
    padding-right: 30px;
}

#current-weather-icon {
    max-width: 100%;
    width: 40px;
    height: auto;
}

#forecast-icon {
    max-width: 100%;
    width: 40px;
    height: auto;
}

footer {
    background-color: #FFFFFF;
    color: #171A21;
    text-align: center;
    grid-column: 2;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    padding: 20px 0;
    background-color: #D8DBE1;
}

.footer-address {
    text-align: left;
    margin: 0;
}

.contact-info {
    text-align: right;
}

.footer-addresses p {
    font-family: 'noto sans display', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 20px;
}

.contact-info p {
    font-family: 'noto sans display', sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 20px;
}

#copyright {
    font-size: 24px;
    color: #171A21;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}

#currentYear {
    color: #292F38;
    font-weight: bold;
}

#weatherBanner {
    position: relative;
    width: 100%;
    background: #2F9BFF;
    padding: 0;
    text-align: center;
    z-index: 1000;
    font-family: 'noto sans display', sans-serif;
}
  
.close-button {
    padding: 5px 10px;
    background-color: #171A21;
    color: white; 
    border: #2F9BFF;
    cursor: pointer;
    font-size: 14px; 
    margin: 5px;
}

.close-button:hover {
    background-color: #272b35;
    transform: scale(1);
    border: none;
    transition: none 0.0s ease 0s;
}
  
.banner-text {
    font-size: 18px;
    font-family: 'roboto', sans-serif;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto 60px auto; 
    font-family: 'noto sans display', sans-serif;
    font-size: 18px;
}

th {
    background-color: #2F9BFF;
    color: #171A21;
    padding: 10px;
    text-align: center;
}

th[colspan="2"] {
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    font-weight: bold;
}

td:nth-child(0),
td:nth-child(1),
td:nth-child(2),  
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    text-align: center;
}

#pricingSection h2 {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 3em;
    color: #171A21;
    padding: 20px 20px;
}


/* reservation form */
.wf1 fieldset {
    margin: 20px 0;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0 10px 2% 2%;
    font-family: 'noto sans display';
    grid-column: 1;
    grid-row: 2;
}

.wf2 fieldset {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    width: 475px;
    border: 1px solid #333;
    border-radius: 6px;
    padding: 0 10px 2% 2%;
    font-family: 'noto sans display';
    grid-column: 1;
    grid-row: 2;
}

.wf1 legend,
.wf2 legend {
    color: #171A21;
    padding: 0 .5rem;
    font-size: 24px;
}

.wf1 label,
.wf2 label {
    display: block;
    padding-top: 1rem;
    color: #171A21;
    font-size: 16px;
}

.wf1 div,
.wf2 div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf2 input[type="text"],
.wf1 input[type="email"],
.wf2 input[type="email"],
.wf1 input[type="tel"],
.wf1 input[type="date"],
.wf1 input[type="time"],
.wf1 select,
.wf1 textarea,
.wf2 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="submit"],
.wf2 input[type="submit"] {
    background-color: #2F9BFF;
    border: solid 1px #2F9BFF;
    border-radius: 50px;
    padding: 9px 25px;
    margin: 30px 10px 10px 0;
    width: 96%;
    max-width: 400px;
    color: #171A21;
}

#customLocationField {
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 4px;
    margin-top: 10px;
}

.reservation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr; 
    gap: 30px; 
    margin: 30px;
    padding: 10px;
}

.reservation-grid h2 {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 3em;
    color: #171A21;
    padding: 20px 20px;
    width: 100%;
    grid-column: 1 / -1; 
    grid-row: 1;
}

.rental-services {
    grid-column: 2 / 4;
    grid-row: 2;
    padding: 20px; 
    background-color: #eee; 
    border-radius: 6px; 
    margin: 30px 0;
    font-family: 'noto sans display';
    border: solid 1px #333;
}

.rental-services h3 {
    color: #171A21;
    font-size: 2.5em;
    padding: 20px;
    text-align: center;
    font-family: 'roboto', sans-serif;
}

.rental-services ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.rental-services ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 1.6;
    color: #171A21;
    font-family: 'noto sans display', sans-serif;
    font-size: 24px;
}

.rental-services img {
    margin-right: 15px; 
    width: 24px; 
    width: 90px;
    height: auto; 
    background-color: #2F9BFF;
    border-radius: 8px;
    border: 1px solid #333;
}

.rental-services span {
    display: block; 
}

.scoots-intro h2 {
    font-family: 'roboto', sans-serif;
    font-size: 36px;
}

.business-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    background-color: #292F38;
    padding-left: 30px;
    padding-right: 30px;
}

.business-card {
    font-family: 'noto sans display', sans-serif;
    padding: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;
}

.business-card h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.business-card p {
    font-size: 1.1em;
    margin: 0px;
}

.business-card img {
    max-width: 150px;
    height: auto;
}

.contact-grid h2 {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 3em;
    color: #171A21;
    padding: 20px 20px;
    margin: 10px 0 30px 0;
}

.location-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px 0 20px 0;
}

.location-card {
    margin: 10px;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 6px;
    align-items: center;
    text-align: center;
}

.location-card h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

.location-card h4 {
    font-size: 2em;
    margin: 30px 0 20px 0;
    color: #333;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

.location-card p {
    font-size: 20px;
    margin: 0px;
    font-family: 'noto sans display', sans-serif;
}

.location-card img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 30px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.map-card iframe {
    max-width: 100%;
    width: 750px;
    height: 450px;
    border: 0;
    padding: 20px;
    display: block; 
    margin: auto;
    
}

.map-card {
    max-width: 100%;
    width: 700px;
    border: 1px solid #555;
    border-radius: 6px;
    display: block; 
    margin: 40px auto;
    padding: 20px;
}

.map-card h3 {
    font-size: 2em;
    margin: 10px 20px 20px 20px;
    color: #333;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

.map-card p {
    font-size: 20px;
    margin: 0px;
    font-family: 'noto sans display', sans-serif;
    text-align: center;
    padding: 0 15px;
}