@media screen and (min-width: 411px) and (max-width: 700px) {

    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #ffffff;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .logo a {
        font-size: 24px; 
        text-decoration: none;
        display: inline-block;
    }

    .social img {
        width: 50%;
        height: auto;
        padding: 2px;
        max-width: 40px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        margin-top: 210px;
        z-index: 9999;
        width: 130px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .social img:hover {
        transition: all 0.0s ease 0s;
        transform: scale(1);
    }

    .icon-row {
        height: 90px;
    }

    .icon-row span {
        font-size: 14px;
    }

    a,button {
        font-size: 16px;
        font-weight: 500;
        font-family: 'noto sans display', sans-serif;
        color: #171A21;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        background-color: #2F9BFF;
        border: 2px solid #2F9BFF;
        border-radius: 50px;
        padding: 9px 25px;
        margin: 10px;
    }

    .hero-text h1 {
        font-family: 'roboto';
        font-size: 2.5em;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    .hero-text p {
        font-family: 'noto sans display', sans-serif;
        font-size: 1em;
        margin-bottom: 50px;
    }

    .scoots-intro {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.4;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .scoots-intro p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .home-grid h2 {
        text-align: center;
        font-family: 'roboto', sans-serif;
        font-size: 1.6em;
        color: #171A21;
        padding: 0;
        margin: 20px 0;
    }

    #rentalOptions {
        padding: 0;
        display: block;
    }

    #rentalOptions h3 {
        color: #171A21;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        border-radius: 3px 3px 0;
        font-size: 1.3em;
        text-align: center;
        font-family: 'noto sans display', sans-serif;
    }

    #rentalOptions p {
        color: #171A21;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 3px 3px 0;
        font-size: 1.1em;
        text-align: center;
        font-family: 'noto sans display', sans-serif;
    }

    .vehicle-card img:hover {
        transition: all 0.0s ease 0s;
        transform: scale(1);
    }

    .info-grid {
        padding: 0;
        display: block;
    }

    .info-card {
        margin: 0;
        padding: 20px;
    }

    .info-card img {
        max-width: 100px;
        height: auto;
    }

    .info-card h2 {
        font-size: 1.6em;
        margin-bottom: 10px;
        color: #FFFFFF;
    }

    .info-card p {
        font-size: 16px;
        margin: 0px;
    }

    .footer-top, .footer-bottom {
        flex-direction: column;
        padding: 10px 0;
    }

    .footer-addresses, .contact-info {
        text-align: center;
        margin: 0;
    }

    .footer-bottom {
        font-size: 20px;
    }

    .footer-bottom span {
        margin: 10px 0;
    }

    .footer-addresses p, .contact-info p {
        font-size: 16px;
        margin: 10px;
        text-align: center;
    }

    #copyright {
        margin: 0;
    }

    #pricingSection h2 {
        font-size: 30px;
    }

    .reservation-grid {
        display: block;
        margin: 10px;
    }

    .reservation-grid h2{
        font-size: 30px;
    }

    .rental-services h3 {
        font-size: 30px;
    }

    .rental-services span {
        font-size: 18px;
    }

    .rental-services img {
        max-width: 70px;
        height: auto;
    }

    .contact-grid {
        display: block;
    }

    .location-cards {
        display: block;
    }

    .contact-grid fieldset {
        margin: 15px;
    }

    .business-cards {
        display: block;
        padding: 0;
    }
    .business-card {
        padding: 20px 10px;
        margin: 20px 0;
    }

    .business-card img {
        max-width: 100px;
        height: auto;
    }

    .business-card h3 {
        font-size: 1.6em;
        margin-bottom: 10px;
        color: #FFFFFF;
    }

    .business-card p {
        font-size: 16px;
        margin: 0px;
    }

    .contact-grid h2 {
        font-size: 24px;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .location-cards {
        padding: 0;
    }

    .location-card {
        border: none;
        margin: 0;
    }

    .location-card h3 {
        font-size: 26px;
    }

    .location-card p {
        font-size: 16px;
    }

    .map-card h3 {
        font-size: 26px;
    }

    .map-card p {
        font-size: 16px;
    }

    .map-card {
        margin: 0;
        padding: 0;
        border: none;
    }

    .scoots-intro img {
        max-width: 100px;
        height: auto;
    }

    .scoots-intro h2 {
        font-size: 26px;
    }

    #pricingSection {
        padding: 0 10px; 
    }

    #pricingTable {
        width: auto; 
        margin: 0; 
    }

    #pricingTable, #pricingTable thead, #pricingTable tbody, #pricingTable th, #pricingTable td, #pricingTable tr {
        display: block;
        width: 100%;
    }

    #pricingTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #pricingTable tr {
        border: 1px solid #ddd;
        margin-bottom: 5px; 
        padding: 10px 0;
    }

    #pricingTable td {
        border: none;
        position: relative;
        padding-left: 60%; 
        text-align: center; 
        box-sizing: border-box; 
        min-height: 50px;
    }

    #pricingTable td:before {
        content: attr(data-title);
        position: absolute;
        left: 10px;
        top: 50%; 
        transform: translateY(-50%);
        font-weight: bold;
        width: 45%; 
        overflow:visible ;
        text-overflow: ellipsis; 
        white-space: nowrap; 
    }

    form.wf2 {
        margin: 10px
    }

    .contact-grid fieldset {
        margin: 0;
    }
}

@media screen and (max-width: 410px) {

    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .logo a {
        font-size: 24px; 
        text-decoration: none;
        display: inline-block;
    }

    .social img {
        height: auto;
        padding: 2px;
        width: 30px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        margin-top: 210px;
        z-index: 9999;
        width: 130px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .social img:hover {
        transition: all 0.0s ease 0s;
        transform: scale(1);
    }

    .icon-row {
        height: 90px;
    }

    .icon-row span {
        font-size: 14px;
    }

    .icon-row img {
        max-width: 45px;
    }

    a,button {
        font-size: 16px;
        font-weight: 500;
        font-family: 'noto sans display', sans-serif;
        color: #171A21;
        text-decoration: none;
        cursor: pointer;
    }

    button {
        background-color: #2F9BFF;
        border: 2px solid #2F9BFF;
        border-radius: 50px;
        padding: 9px 25px;
        margin: 10px;
    }

    .hero-text h1 {
        font-family: 'roboto';
        font-size: 2.2em;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    .hero-text p {
        font-family: 'noto sans display', sans-serif;
        font-size: .8em;
        margin-bottom: 50px;
    }

    .scoots-intro {
        font-family: Arial, sans-serif;
        color: #333;
        line-height: 1.4;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .scoots-intro p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .scoots-intro h2 {
        font-size: 26px;
    }

    .home-grid h2 {
        font-size: 1.3em;
        padding: 0;
        margin: 20px 0;
    }

    #rentalOptions {
        padding: 0;
        display: block;
    }

    #rentalOptions h3 {
        color: #171A21;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        box-sizing: border-box;
        border-radius: 3px 3px 0;
        font-size: 1.3em;
        text-align: center;
        font-family: 'noto sans display', sans-serif;
    }

    #rentalOptions p {
        color: #171A21;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        border-radius: 3px 3px 0;
        font-size: 1.1em;
        text-align: center;
        font-family: 'noto sans display', sans-serif;
    }

    .vehicle-card img:hover {
        transition: all 0.0s ease 0s;
        transform: scale(1);
    }

    .info-grid {
        padding: 0;
        display: block;
    }

    .info-card {
        margin: 0;
        padding: 20px;
    }

    .info-card img {
        max-width: 100px;
        height: auto;
    }

    .info-card h2 {
        font-size: 1.6em;
        margin-bottom: 10px;
        color: #FFFFFF;
    }

    .info-card p {
        font-size: 16px;
        margin: 0px;
    }

    .footer-top, .footer-bottom {
        flex-direction: column;
        padding: 10px 0;
    }

    .footer-addresses, .contact-info {
        text-align: center;
        margin: 0;
    }

    .footer-bottom {
        font-size: 20px;
    }

    .footer-bottom span {
        margin: 10px 0;
    }

    .footer-addresses p, .contact-info p {
        font-size: 16px;
        margin: 10px;
        text-align: center;
    }

    #copyright {
        margin: 0;
    }

    #pricingSection h2 {
        font-size: 20px;
    }

    .reservation-grid {
        display: block;
        margin: 10px;
    }

    .reservation-grid h2{
        font-size: 24px;
        padding: 0;
    }

    .rental-services {
        padding: 10px;
    }

    .rental-services h3 {
        font-size: 24px;
    }

    .rental-services span {
        font-size: 18px;
    }

    .rental-services img {
        max-width: 50px;
        height: auto;
    }

    .contact-grid {
        display: block;
    }

    .contact-grid fieldset {
        margin: 0;
    }

    .location-cards {
        display: block;
    }

    .business-cards {
        display: block;
        padding: 0;
    }
    .business-card {
        padding: 20px 10px;
        margin: 0;
    }

    .business-card img {
        max-width: 80px;
        height: auto;
    }

    .business-card h3 {
        font-size: 1.6em;
        margin-bottom: 10px;
        color: #FFFFFF;
    }

    .business-card p {
        font-size: 16px;
        margin: 0px;
    }

    .contact-grid h2 {
        font-size: 26px;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .location-cards {
        padding: 0 15px;
    }

    .location-card {
        padding: 0;
        border: none;
    }

    .location-card h3 {
        font-size: 22px;
    }

    .location-card p {
        font-size: 16px;
    }

    .map-card h3 {
        font-size: 22px;
    }

    .map-card p {
        font-size: 16px;
    }

    .map-card {
        margin: 10px 0;
        border: none;
        padding: 15px;
    }

    .scoots-intro img {
        max-width: 80px;
        height: auto;
    }

    #pricingSection {
        padding: 0 10px; 
    }

    #pricingTable {
        width: auto; 
        margin: 0; 
    }

    #pricingTable, #pricingTable thead, #pricingTable tbody, #pricingTable th, #pricingTable td, #pricingTable tr {
        display: block;
        width: 100%;
    }

    #pricingTable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #pricingTable tr {
        border: 1px solid #ddd;
        margin-bottom: 5px; 
        padding: 10px 0;
    }

    #pricingTable td {
        border: none;
        position: relative;
        padding-left: 60%; 
        text-align: center; 
        box-sizing: border-box; 
        min-height: 50px;
    }

    #pricingTable td:before {
        content: attr(data-title);
        position: absolute;
        left: 10px;
        top: 50%; 
        transform: translateY(-50%);
        font-weight: bold;
        width: 45%; 
        overflow:visible ;
        text-overflow: ellipsis; 
        white-space: nowrap; 
    }

    form.wf2 {
        margin: 10px
    }

}