@import url('styles/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Overlock+SC&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    font-family: 'carlito', 'helvetica', 'sans-serif';
}

header {
    background-color: #1D4D72;
    color: white;
    text-align: center;
    padding: 20px 0;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    max-width: 200px;
    padding: 0px;
    margin-right: 20px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 100;
    font-family: 'overlock sc', 'carlito', 'sans-serif';

}

nav {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'carlito', 'sans-serif';
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin-bottom: 40px;
}

main {
    max-width: 1600px;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-row: 3/4;
    grid-column: 2;
}

.card {
    background-color: #e6e6ff;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #6f6f6f;
    box-shadow: 4px 4px 8px 0;
}

.card h3 {
    background-color: #1D4D72;
    color: white;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 3px 3px 0;
}

.card ul li {
    text-align: left;
    font-size: 20px;
}

.card p {
    font-size: 20px;
    font-family: 'carlito';
}

.card a:hover {
    color: #333;
}

.card hr {
    margin: 0;
}

h2, h3 {
    color: #333
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 100;
}

footer {
    background-color: #1D4D72;
    color: white;
    text-align: center;
    padding: 20px 0;
    grid-row: 4/5;
    grid-column: 2;
}

footer p {
    margin: 0;
    font-size: 18px;
}

#currentYear, #lastModified {
    color: #ff6600
}



@media screen and (max-width: 600px) {
    header img {
        max-width: 15%;
        height: auto;
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header, nav, footer {
        grid-column: 1 / -1;
    }

    nav ul li a {
        font-size: 1.3em;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        grid-column: 1/4;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    .card hr {
        margin: 0;
    }
}