:root {
    --main-bg-color: #f0f0f0;
    --text-color: #333;
    --accent-color: #153954;
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--main-bg-color);
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.8);
    grid-column: 2;
}


form hr {
    margin: 0px 0px 30px 0px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
button {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: .75rem;
    margin-bottom: 20px;
    border: 1px solid #999;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    border: none;
    background-image: linear-gradient(#153954, #0e2537);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 1rem 2%;
    box-shadow: 1px 1px 4px #999;
}

button:hover {
    opacity: 0.8;
}

input:required {
    border-left: solid 8px red;
}

input:required:valid {
    border-left: solid 8px green;
}

main h1 {
    margin-bottom: 0;
    grid-column: 2;
}

.form-container {
    grid-template-columns: repeat(3, 1fr);
}