@media screen and (max-width: 600px) {
    header img {
        max-width: 25%;
        height: auto;
        margin: 0;
    }

    header {
        padding: 10px;
        display: block;
    }

    header h1 {
        font-size: 2em;
        text-align: center;
    }

    /* .navbar a { 
        display: none;
    }
    
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    } */

    .hamburger {
        display: block;
        font-size: 1.5em;
        user-select: none;
        float: left;
        padding: 10px;
        color: white;
    }

    .navbar a {
        display: none;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    }

    main {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar.open .hamburger::after {
        content: '×'; 
        font-size: 1.5em;
        line-height: normal;
        display: block;
    }

    .navbar.open a {
        display: block;
        opacity: 1;
        border-bottom: 1px solid #222;
    }

    .navbar.open .hamburger {
        padding: 0;
        padding-left: 15px;
    }

    .navbar.open a:first-of-type {
        border-top: 1px solid #2c2c2c; 
    }

    .navbar.open a:last-of-type {
        border-bottom: none;
    }

    body {
        display: block;
    }

    .google-map {
        display: block;
        width: 100%;
        max-width: 100%;
        box-shadow: 4px 4px 8px 0;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flag-image {
        width: auto;
        height: 40px;
        margin: 10px 0;
    }

    #copyright {
        font-size: 20px;
        display: block;
    }

    #lastModified {
        margin-top: 0;
    }

    footer p {
        font-size: 16px;
    }
}