@media screen and (max-width: 600px) {
    header img {
        max-width: 25%;
        height: auto;
        margin: 0;
    }

    header {
        padding: 10px;
        display: block;
    }

    header h1 {
        font-size: 2em;
        text-align: center;
    }

    .hamburger {
        display: block;
        font-size: 1.5em;
        user-select: none;
        float: left;
        padding: 10px;
        color: white;
    }

    .navbar a {
        display: none;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
    }

    main {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    .hero {
        width: 100%;
        grid-column: 1 / 4;
        grid-row: 1;  
        margin-left: -20px; 
        margin-right: -20px; 
    }

    .hero img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        width: calc(100% + 40px);
    }

    .hero-container {
        position: absolute;
        background: radial-gradient(#fff, #778AAA);
	    border: 1px solid rgba(0,0,0,.75);
        box-shadow: 0 0 3rem #fff;
        padding: 5px 5px;
        border-radius: 5px;
        opacity: 0.75;
        margin-left: 20px;
        margin-top: 40px;
    }

    .hero-container h1 {
        font-family: 'Great Vibes', 'carlito', 'sans-serif';
        font-size: 1.2em;
    }

    .navbar.open .hamburger::after {
        content: '×'; 
        font-size: 1.5em;
        line-height: normal;
        display: block;
    }

    .navbar.open a {
        display: block;
        opacity: 1;
        border-bottom: 1px solid #222;
    }

    .navbar.open .hamburger {
        padding: 0;
        padding-left: 15px;
    }

    .navbar.open a:first-of-type {
        border-top: 1px solid #2c2c2c; 
    }

    .navbar.open a:last-of-type {
        border-bottom: none;
    }

    body {
        display: block;
    }

    .google-map {
        display: block;
        width: 100%;
        max-width: 100%;
        box-shadow: 4px 4px 8px 0;
        margin-top: 25px;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 20px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .flag-image {
        width: auto;
        height: 40px;
        margin: 10px 0;
    }

    #copyright {
        font-size: 20px;
        display: block;
    }

    #lastModified {
        margin-top: 0;
    }

    footer p {
        font-size: 16px;
    }
}